*{
   font-family:arial;
   font-size:15px;
   box-sizing:border-box;
}
 
body,html{
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   overflow-y:hidden;
}
.tooltip { pointer-events: none;
    margin-right: 35px;
}
 
.fa-info-circle{
   font-size:20px;
}
 
#telepulesek_div div{
   margin-bottom:10px;
}
 
#telepulesek{
   width: 165px;
   height: 170px;
}
 
#search{
   width:16rem;
   border-radius:5px;
}
 
#telepulesek_div{
   margin:0;
}
 
.filter{
   /*display:flex;*/
   flex-direction:column;
   margin:10px 3%;
   width:16rem;
 
}
 
.filter div{
    margin-bottom:10px;
}
 
textarea{ 
   /* will prevent resizing horizontally */
    min-width:100px;
    resize:horizontal;
    font-size:0.7em;
}
 
 
 
#map{
   height: 100%;
   padding:0%;
   padding-bottom:0px;
}
 
/*#egesz{
    display: grid;
    grid-template-columns:30fr 70fr;
    height: 100vh;
}
 
#r{
   margin-top:20px;
   display:grid;
   grid-template-rows: 12rem 5rem 11rem 13rem
}*/
 
#EOV{
   margin:0px 5px;
}
 
#e-k{
   margin:0px 5px;
}
/*#gombok{
    margin:0 8px;
    padding:0 5px;
    display:grid;
    grid-template-columns:14rem 20rem;
    grid-template-rows:4rem;
    grid-gap:1rem; 
}
*/
 
 
/*@media all and (max-width:1250px) and (min-width:721px){
    #r{
        margin-top:20px;
        display:grid;
        grid-template-rows: 12rem 10rem 11rem 13rem;
   }
    #gombok{
        display: grid;
        grid-template-columns: 17rem;
        grid-template-rows: 4vh 4vh;
    }
    #refresh, #gomb{
        text-align:center;
    }
    .text-area{
        max-width:150px;
}
}*/
 
/*@media all and (max-width:720px){
    #egesz{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 600px 500px;
    }
        #map{
           height: 20rem;
           border-left:solid #55bb8f;
           padding:0%;
           padding-bottom:0px;
}
   #egesz{
      height:100vh;
   }
   body{
   overflow-y:scroll;
   -webkit-overflow-scrolling: touch;
   }
   *{
      overflow-y:scroll;
      -webkit-overflow-scrolling: touch;}
}*/
 
/*@media (min-width:768px){*/
  #r{
      position:absolute;
      width:50%;
      z-index:9999;
   }
   #map canvas{
      border:1px solid;
      border-radius:10px;
   }
   #map{
      width:98vw;
      height:97vh;
      margin:5px auto;
      position:relative;
       
   }
    
   #EOV, #gombok,#e-k{
      top:150px;
      position:absolute;
      z-index:100;
      right:-450px;
   }
    
   #telepulesek{
      right:0px;
      display:none;
   }
 
   #search{
      position:absolute;
      right: -30px;
      z-index:-999;
   }
   .filter{
      position:absolute;
      margin:0;
      padding:0;
      z-index:300;
      right:-165px;
      top:10px;
   }
   #filter{
      display:none;
   }
   #valogat{
      display:none;
   }
   #gombok{
      top:260px;
   }
   #e-k{
      top:160px;
   }
   #EOV{
      top:50px;
   }
   #searching{
      position:absolute;
      z-index:300;
      top:11px;
      right:0px;
      border:1px solid black;
      padding:1px;
      background-color:#44aaff;
      color:white;
   }
   #EOV_slide{
      position:absolute;
      z-index:300;
      top:50px;
      right:0px;
      border:1px solid black;
      padding:3px 6px;
      background-color:#44aaff;
      color:white;
   }
   #arrow1{
      color:white;
   }
    
   .fa-search, .fa-chevron-right{
      margin:0 5px 0 ;
      color:white;
   }
   a{
      border-right:solid black;
   }
/*}*/
