*{
   font-family:arial;
   font-size:15px;
   box-sizing:border-box;
}
.fa-info-circle{
   font-size:20px;
}

#telepulesek_div div{
      margin-bottom:10px;

}

.filter{
   display:grid;
   grid-template-columns:200px;
   margin:10px 3%;
}

.filter div{
    margin-bottom:10px;
}

textarea{ 
   /* will prevent resizing horizontally */
    min-width:100%;
    resize:horizontal;
    font-size:0.7em;
}

body,html{
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   overflow-x: hidden;
   overflow-y:hidden;
}

#map{
   height: 100%;
   border-left:solid #55bb8f;
   padding:0%;
   padding-bottom:0px;
}

#egesz{
    display: grid;
    grid-template-columns:30fr 70fr;
    height: 100vh;
}

#r{
   margin-top:20px;
   display:grid;
   grid-template-rows: 12rem 5rem 11rem 13rem
}

#EOV{
   margin:0px 3%;
}

#e-k{
   margin:0px 3%;
}
#gombok{
    margin:0 8px;
    padding:0 5px;
    display:grid;
    grid-template-columns:14rem 20rem;
    grid-template-rows:4rem;
    grid-gap:1rem; 
}



@media (max-width:1250px){
    #r{
        margin-top:20px;
        display:grid;
        grid-template-rows: 12rem 10rem 11rem 13rem;
   }
    #gombok{
        display: grid;
        grid-template-columns: 17rem;
        grid-template-rows: 30px 30px;
    }
    #refresh, #gomb{
        text-align:center;
        min-height:30px;
    }
    .text-area{
        max-width:150px;
}
}

@media only screen and (max-width: 750px){
    #egesz{
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: 70vh 70vh 10vh;
    }
        #map{
           height: 25rem;
           border-left:solid #55bb8f;
           padding:0%;
           padding-bottom:0px;
}

}